/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 0;
}

.website-logo-head {
  width: 240px;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 30%;
  flex-shrink: 0;
}

.nav-item {
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  margin: 10px;
  list-style-type: none;
}

.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  height: 35px;
  width: 80px;
  margin-left: 8px;
}
